/* .fa-css3-alt { */
/* .fa { */
.fa-brands {
    /* padding: 20px 40px; */
    color: chocolate;
    /* margin-top: 10%; */
    /* margin-left: 10%; */
    /* font-size: 150px; */
    font-size: 120px;
    /* width: 100px; */
    /* height: 250px; */
}

/* .headerC {
    margin-left: 50%;
 } */
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* margin-left: auto; */
}
hr {
    margin-left: 15%;
    margin-right: 15%;
    /* margin-left: 50%; */
}
.bg-yellow{ 
    /* width: 400px; */
    /* height: 300px; */
    /* background-color: yellow; */
}
p {
    font-size: medium;

}